<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/base.css">
        <title>To-Do lists</title>
    </head>
    <body>
        <nav class="navbar navbar-light" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Superlists</a>
                {% if user.email %}
                    <ul class="nav navbar-nav ml-auto">
                        <li><a href="{% url 'my_lists' user.email %}">My lists</a></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="navbar-text">Logged in as {{ user.email }}</li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                {% else %}
                    <form class="form-inline ml-auto" method="POST" action="{% url 'send_login_email' %}">
                        <span>Enter email to log in:</span>
                        <input class="form-control" name="email" type="text" />
                        {% csrf_token %}
                    </form>
                {% endif %}
            </div>
        </nav>
        {% if messages %}
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                        {% if message.level_tag == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        {% block list_form %}
                            <form method="POST" action="{% block form_action %}{% endblock %}">
                                {{ form.text }}
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="form-group has-error">
                                        <div class="form-text">{{ form.text.errors }}</div>
                                    </div>
                                {% endif %}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% block table %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% block extra_content %}
                {% endblock %}
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/list.js"></script>

        <script>
            $(document).ready(function () {
                window.Superlists.initialize();
            })
        </script>
    </body>
</html>